listener 8333
protocol websockets
cafile $HOME/.local/share/mkcert/rootCA.pem
certfile $GIT_TOPLEVEL/certificates/localhost.pem
keyfile $GIT_TOPLEVEL/certificates/localhost-key.pem
allow_anonymous true
